@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

.kanji-title{
  font-family: 'Noto Serif JP', serif;
  font-size: 150px;
}

.japanese-font{
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
}