.sidebar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white;

  width: 72px;
  z-index: 99;
}

.sidebar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 74px;

  transition-duration: 0.2s;
}
.sidebar-link:hover{
  background-color: rgb(240,240,240);
  cursor: pointer;
}
.sidebar-link img{
  height: 40%;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 9px;
  font-weight: 700;
}